.ant-layout {
  height: 100%;
}

/*侧边栏*/
.ant-layout-sider {
  .ant-menu {
    .iconfont {
      margin-right: 10px;
      font-size: 14px;
    }
  }
}

/*顶部导航*/
.ant-layout-header {
  padding: 0 16px !important;
  background: #fff !important;
}
.header-handle-icon {
  float: left;
  .handle_collapsed {
    font-size: 22px;
    height: 46px;
    line-height: 64px;
    cursor: pointer;
  }
}
.header-avatar-all {
  float: right;
  height: 64px;
  .ant-avatar {
    float: left;
    margin: 16px 10px;
  }
  .header__avatar-name {
    float: left;
    color: #515a61;
  }
  .ant-dropdown-content {
    .ant-dropdown-menu-item {
      text-align: center;
    }
  }
}
